{% extends 'base.html' %}
{% block content %}
<div class="content">
                  <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                This is some my content in page {{title}}
                                 within a card block.
                            </div>
                        </div>
                    </div>
                </div>
    </div>


{% endblock content %}