{% extends 'base.html' %} 
{% load static %}
{% block content %}



<div class="row">
{% for contact in contacts %}

  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <!-- Profile Image -->
        <div class="box box-primary">
          <div class="box-profile">
            <img
              class="profile-user-img img-responsive img-circle"
              src=" {% static 'dist/img/img1.jpg' %} "
              alt="User profile picture"
            />
            <h3 class="profile-username text-center"> {{contact.nom}} </h3>
            <p class="text-muted text-center"> {{contact.prenom}} </p>
            <ul class="nav nav-stacked sty1">
              <li>
                <a href="#"
                  ><strong>Matricule :</strong>
                  <span class="pull-right"><strong>{{contact.matricule}}</strong></span></a
                >
              </li>
              <li>
                <a href="#">Adresse :<span class="pull-right">{{contact.adresse}}</span></a>
              </li>
              <li>
                <a href="#">E-mail :<span class="pull-right">{{contact.email}}</span></a>
              </li>
              
            </ul>
            <a href="#" class="btn btn-primary btn-block">Create New Label</a>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
     
    </div>
  </div>
  {% endfor %}
</div>
 
{% endblock content %}
